[submodule "file"]
	path = file
	url = https://github.com/file/file
	branch = master
[submodule "pcre2"]
	path = pcre2
	url = https://github.com/PCRE2Project/pcre2
	branch = release/pcre2-10.45
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
	branch = master
[submodule "bzip2"]
	path = bzip2
	url = git://sourceware.org/git/bzip2.git
	branch = master
[submodule "xz"]
	path = xz
	url = https://git.tukaani.org/xz.git
	branch = v5.6
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
	branch = release
[submodule "lzlib"]
	path = lzlib
	url = https://github.com/tabris17/lzlib
	branch = release/v1.15
